[v-cloak] {
  display: none;
}
.justify-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexible{
    display: flex;
}
.flexible-between{
    display: flex;
    justify-content: space-between;
}
.flexible-end{
    display: flex;
    justify-content: space-between;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.col-1{
  flex: 1;
  overflow: hidden;
}
.one_line{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.two_line{
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: normal;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.three_line{
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: normal;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}


#pullDown, #pullUp {
    background:#fff;
    height:40px;
    line-height:40px;
    padding:5px 10px;
    border-bottom:1px solid #ccc;
    font-weight:bold;
    font-size:14px;
    color:#888;
    text-align: center;
}
#pullUp{
    margin-top: 30px;
}

@-webkit-keyframes loading {
    from { -webkit-transform:rotate(0deg) translateZ(0); }
    to { -webkit-transform:rotate(360deg) translateZ(0); }
}









#app{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}


/*收集鸡蛋动画*/
.egg-collect-view{
    pointer-events: none;
}
.egg-collect{
    position: absolute;
    bottom: 2.5rem;
    left: .8rem;
    z-index: 6;
    opacity: 0;
}
.egg-collect-view.active .egg-collect1{
    animation: eggCollect 1.5s ease-in forwards,eggCollectX 1.5s cubic-bezier(.29,-0.05,.47,.97) forwards;
}
.egg-collect-view.active .egg-collect2{
    animation: eggCollect 1.5s ease-in forwards,eggCollectX2 1.5s cubic-bezier(.29,-0.05,.47,.97) forwards;
}
.egg-collect-view.active .egg-collect3{
    animation: eggCollect 1.5s ease-in forwards,eggCollectX3 1.5s cubic-bezier(.29,-0.05,.47,.97) forwards;
}
.egg-collect-img{
    width: 1.2rem;
    height: 1rem;
    transform: scale(0.3);
}
@keyframes eggCollect {
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    
    100%{
        transform: translateY(calc(4.9rem - 100vh));
        opacity: 1;
        z-index: 20;
    }
}
@keyframes eggCollectX {
    0%{
        left: .8rem;
    }
    30%{
        left: .6rem;
    }
    60%{
        left: 1.9rem;
    }
    95%{
        left: .95rem;
    }
    100%{
        left: .95rem;
    }
}
@keyframes eggCollectX2 {
    0%{
        left: .8rem;
    }
    50%{
        left: .3rem;
    }
    95%{
        left: .95rem;
    }
    100%{
        left: .95rem;
    }
}
@keyframes eggCollectX3 {
    0%{
        left: .8rem;
    }
    50%{
        left: 1.9rem;
    }
    95%{
        left: .95rem;
    }
    100%{
        left: .95rem;
    }
}

/*云动画*/
.cloud-cover{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*visibility: hidden;*/
    pointer-events: none;
    overflow: hidden;
    opacity: 1;
    z-index: 1000;
}
.cloud-cover .cloud-img1{
    position: absolute;
    top: -10%;
    left: -150%;
    bottom: 0;
    width: 150%;
    height: 110%;
    transform-origin: 100% 100%;
    transform: translate(0,0) rotate(-45deg);
    transition: all 1.5s;
}
.cloud-cover .cloud-img2{
    position: absolute;
    top: -10%;
    right: -150%;
    bottom: 0;
    width: 150%;
    height: 110%;
    transform-origin: 0 100%;
    transform: translate(0,0) rotate(45deg);
    transition: all 1.5s;
}
.cloud-cover.active .cloud-img1{
    transform: translate(100%,0) rotate(0deg);
    /*animation: cloudCover 3s;*/
}
.cloud-cover.active .cloud-img2{
    transform: translate(-100%,0) rotate(0);
    /*animation: cloudCover2 3s;*/
}
@keyframes cloudCover {
    0%{transform: translate(0,0) rotate(-45deg);}
    50%{transform: translate(100%,0) rotate(0deg);}
    100%{transform: translate(0,0) rotate(-45deg);}
}
@keyframes cloudCover2 {
    0%{transform: translate(0,0) rotate(45deg);}
    50%{transform: translate(-100%,0) rotate(0);}
    100%{transform: translate(0,0) rotate(45deg);}
}

/*ajax加载动画*/
.loading-cover{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: rgba(0,0,0,.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99;
}
.loading-cover.loading{
    display: flex;
}
.loading-view{
    animation: loading 2s infinite;
}
.loading-cover .iconfont {
    font-size: 80px;
    color: #fff;
}
@keyframes loading {
    0%{ transform: rotate(0deg) }
    100%{ transform: rotate(360deg) }
}

/*刚进入时的加载动画*/
.main-loading-cover{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b7eaff;
    z-index: 100;
}
.main-loading-cover img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}


/*饲料数量*/
.feed-number{
    position: absolute;
    left: 30%;
    right: 0;
    bottom: 0;
    height: 0.6rem;
    font-size: 12px;
    color: #f3e285;
}

/*鸡的蒙版*/
.chick-cover{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);

    transition: all 0.3s;
    visibility: hidden;
    opacity: 0;
}
.chick.active .chick-cover{
    visibility: initial;
    opacity: 1;
}
.chick img.chick-cover-item{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 1.2rem;
    height: 1.2rem;
    object-fit: contain;
    color: #fff;
    z-index: 1;
    pointer-events: initial;

    transition: all 0.5s cubic-bezier(0,.8,.63,1.42);
    transform: scale(0) translate(0,0);
    visibility: hidden;
    opacity: 0;
}
.chick.active .chick-cover-item1{
    transform: scale(1) translate(-1.5rem,-1rem);
    visibility: initial;
    opacity: 1;
}
.chick.active .chick-cover-item2{
    transform: scale(1) translate(1.5rem,-1rem);
    visibility: initial;
    opacity: 1;
}

/*夜晚星星*/
.start{
    background-color: #fff;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    animation: start 1s infinite;
    box-shadow: 0 0 6px #fff;
}
@keyframes start {
    0%{
        transform: scale(0.8);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(0.8);
    }
}
/*雪花*/
.snow{
    width: 6px;
    height: 6px;
    object-fit: contain;
    position: absolute;
    animation: snow 10s infinite;
    pointer-events: none;
}
@keyframes snow {
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(-60vw,100vh);
    }
}
/*雨滴*/
.rain{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #86cbff;

    position: absolute;
    animation: rain 3s linear infinite;
    pointer-events: none;
    position: relative;
}
.rain:after{
    content: '';
    position: absolute;
    top: -8.5px;
    left: 0;
    right: 0;
    margin: auto;
    border: 2px solid transparent;
    border-width: 5px 2px;
    border-bottom-color: #86cbff;
}
@keyframes rain {
    0%{
        transform: translate(0,0) rotate(45deg) scale(.5);
    }
    100%{
        transform: translate(-60vw,100vh) rotate(45deg) scale(1);
    }
}



/* DaTouWang URL: www.datouwang.com */
.bee-body:after,.bee-body:before,.bee-box:before,.bee:after,.bee:before,.blusher span:after,.blusher span:before,.chick-body:before,.chick-head:after,.chick-head:before,.egg-wrapper span:before,.egg:before,.eye span:after,.eye span:before,.face:after,.face:before,.fence span:nth-child(1):after,.fence span:nth-child(1):before,.fence span:nth-child(2):after,.fence span:nth-child(2):before,.fence span:nth-child(3):after,.fence span:nth-child(3):before,.fence span:nth-child(4):after,.fence span:nth-child(4):before,.flower-head:after,.flower-head:before,.flower-top:before,.flowerpot-top:after,.flowerpot-top:before,.flowerpot:after,.fodder:after,.fodder:before,.foot span:before,.foot:before,.house-6:before,.house-7:after,.house-7:before,.house-8:after,.house-8:before,.soil:after,.soil:before,.trough span:after,.trough span:before,.trough:before,.wing-left:before{position:absolute;content:""}

.bee-box{position:absolute;bottom: 3.2rem;left: .4rem;width:7rem;height:4rem;transform-origin: 0 100%;transform:scale(.1,.1)}
.bee-box>div{position:absolute}
.bee-box:before{width:7rem;height:.6rem;background-color:#60ae34;border-radius:.5rem;bottom:-.3rem}
.soil,.soil:before{width:2rem;height:1rem;border-radius:3rem 3rem 0 0}
.soil{bottom:0;left:.8rem;background-color:#7e422b;z-index:2}
.soil:before{left:-.8rem;background-color:#ab5e2b}
.soil.two,.soil.two:before{width:1.8rem;height:1.2rem;border-radius:3rem 3rem 0 0}
.soil.two:after,.soil:after{top:.5rem;left:0;width:.25rem;height:.25rem;border-radius:.25rem;background-color:#7e422b;z-index:2}
.soil.two{bottom:0;left:3rem}
.soil.two:before{left:-.5rem;background-color:#ab5e2b}
.flowerpot{width:3.25rem;height:3.25rem;right:0;bottom:0}
.flowerpot:after{right:0;bottom:-.25rem;left:0;height:.25rem;border-radius:.25rem;background-color:#60ae34;z-index:4}
.flowerpot>div{position:absolute}
.flowerpot-top{right:0;bottom:.6rem;width:3.5rem;height:0;border-bottom-left-radius:.25rem;border-bottom:1.6rem solid #ffd729;border-left:.5rem solid transparent;border-right:.5rem solid transparent;-webkit-transform:rotate(107deg);transform:rotate(107deg);z-index:3}
.flowerpot-top:before{width:.25rem;height:3rem;left:1.1rem;top:-.6rem;border-radius:.25rem;background-color:#ef9f29;-webkit-transform:rotate(91deg);transform:rotate(91deg)}
.flowerpot-top:after{width:.35rem;height:2.5rem;left:1.14rem;bottom:-1.2rem;border-radius:.1rem;background-color:#fff;-webkit-transform:rotate(91deg);transform:rotate(91deg)}
.flowerpot-bottom{right:-.7rem;bottom:.298rem;width:2.5rem;height:0;border-top-left-radius:1.3rem;border-bottom:1.6rem solid #ffd729;border-left:.5rem solid transparent;border-right:.2rem solid transparent;-webkit-transform:rotate(107deg);transform:rotate(107deg)}
.flower{width:2rem;height:4rem;top:0;left:1.5rem;-webkit-animation:rock 3s ease-in infinite}
.flower>div{position:absolute}
.flower-top{left:0;width:2rem;height:2rem;z-index:2}
.flower-top:before{width:.5rem;height:.5rem;background-color:#fae134;border-radius:.5rem;top:50%;left:50%;margin:-.25rem 0 0 -.25rem;z-index:2}
.flower-top p{position:absolute;top:50%;margin-top:-.15rem;width:2rem;height:.3rem;background-color:#fff;border-radius:.4rem}
.flower-top p:nth-child(2){transform:rotate(45deg);transform-origin:50% 50%}
.flower-top p:nth-child(3){transform:rotate(90deg);transform-origin:50% 50%}
.flower-top p:nth-child(4){transform:rotate(135deg);transform-origin:50% 50%}
.flower-head{bottom:0;left:.5rem;width:1rem;height:3rem;border:3px solid #60ae34;border-radius:100% 0 0 100%/50%;border-right:none}
.flower-head:after{bottom:1rem;left:-.55rem;width:0;height:0;border-left:.25rem solid transparent;border-right:0 solid transparent;border-bottom:.7rem solid #64b033;transform:skewX(45deg)}
.flower-head:before{bottom:1.3rem;left:0;width:0;height:0;border-left:.3rem solid transparent;border-right:0 solid transparent;border-bottom:.4rem solid #64b033;transform:skewX(-45deg)}
.bee{width:1.5rem;height:.8rem;will-change:transform;-webkit-animation:bee1 6s ease-in infinite;z-index:5}
.bee-2{right:0;will-change:transform;-webkit-animation:bee2 5s ease-in infinite}
.bee>div{position:absolute}
.bee:after,.bee:before{top:50%;right:.45rem;width:.1rem;height:.1rem;border-radius:.1rem;background-color:#feca21;margin-top:-.05rem}
.bee:before{right:.7rem;z-index:5}
.bee-body,.bee-body:after,.bee-body:before{left:0;width:.6rem;height:.6rem;border-radius:.6rem;background-color:#442418}
.bee-body:before{left:.2rem;background-color:#feca21}
.bee-body:after{left:.5rem;background-color:#442418}
.infinite{-webkit-animation-iteration-count:infinite}
@-webkit-keyframes rock{0%{transform:rotate(-5deg) translate3d(0,0,0)}
50%{transform:rotate(5deg) translate3d(30%,0,0)}
100%{transform:rotate(-5deg) translate3d(0,0,0)}}
@-webkit-keyframes bee1{0%{transform:rotateY(0deg) translate3d(0,0,0)}
25%{transform:rotateY(0deg) translate3d(50%,100%,0)}
49.9%{transform:rotateY(0deg) translate3d(100%,0,0)}
50%{transform:rotateY(180deg) translate3d(-100%,0,0)}
75%{transform:rotateY(180deg) translate3d(-50%,-100%,0)}
99.9%{transform:rotateY(180deg) translate3d(0,0,0)}
100%{transform:rotateY(0deg) translate3d(0,0,0)}}
@-webkit-keyframes bee2{0%{transform:rotateY(180deg) translate3d(0,0,0)}
25%{transform:rotateY(180deg) translate3d(50%,80%,0)}
49.9%{transform:rotateY(180deg) translate3d(80%,0,0)}
50%{transform:rotateY(0deg) translate3d(-80%,0,0)}
75%{transform:rotateY(0deg) translate3d(-50%,-80%,0)}
99.9%{transform:rotateY(0deg) translate3d(0,0,0)}
100%{transform:rotateY(180deg) translate3d(0,0,0)}}
