<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <!-- 视图窗口，移动端特属的标签。 -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <!-- 是否启动webapp功能，会删除默认的苹果工具栏和菜单栏。 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- 这个主要是根据实际的页面设计的主体色为搭配来进行设置。 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!-- 忽略页面中的数字识别为电话号码,email识别 -->
    <meta name="format-detection" content="telephone=no, email=no" />
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- <meta name="viewport" content="width=device-width, viewport-fit=cover"> -->
    <title>庄园动画场景</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/more.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="fonts/iconfont.css">
</head>
<body>
<div id='app' v-cloak style="width:100%;height: 100vh;overflow: hidden;">
    <!-- 最外层 -->
    <div class="wrap" :style="{backgroundImage: 'url(images/theme_'+theme+'/bg.png)'}">
        <div class="zyt">
            <!-- 云彩（白天） -->
            <div class="container" v-if='theme==1'>
                <div class="cloud clou">
                    <div class="one"></div>
                    <div class="two"></div>
                    <div class="thr"></div>
                    <div class="fou"></div>
                </div>
                <div class="cloud clouds">
                    <div class="one"></div>
                    <div class="two"></div>
                    <div class="thr"></div>
                    <div class="fou"></div>
                </div>
                <div class="cloud clouds-on">
                    <div class="one"></div>
                    <div class="two"></div>
                    <div class="thr"></div>
                    <div class="fou"></div>
                </div>
            </div>
            <!-- 星星（黑夜） -->
            <div v-if='theme==2'>
                <div class="start" :style='{left: item.x+"%", top: item.y+"%", opacity: item.opacity, animationDelay: (-item.y-item.x)+"s"}' v-for='(item,index) in start_list'></div>
            </div>
            <!-- 雪花（下雪） -->
            <div v-if='theme==3'>
                <img :src="'images/snow'+(index%2+1)+'.png'" class="snow" :style='{left: item.x+"%", top: item.y+"%", animationDelay: (-item.y-item.x)+"s"}' v-for='(item,index) in snow_list'>
            </div>
            <!-- 雨滴（下雨） -->
            <div v-if='theme==5'>
                <div class="rain" :style='{left: item.x+"%", top: item.y+"%", animationDelay: (-item.y-item.x)+"s"}' v-for='(item,index) in rain_list'></div>
            </div>
        </div>
        <!-- 风塔 -->
        <div class="wind container" style=" position: fixed; top: 44.427%;  left: 14.81%; width: 20%;  transform: translate(-50%,-50%);">
            <img class="im" src="images/6.png" alt=""style="width: 100%" >
        </div>
        <!-- 风车 -->
        <div class="windmill" style="position: fixed; top: 42.23%;left: 83.70%; width: 14%;transform: translate(-50%,-50%);">
            <img class="mill" :src="'images/theme_'+theme+'/windmill.png'" alt=" " style="width: 100%">
        </div>
        <!-- 进度条 -->
        <div class="jindu" v-if='chicken_main.times'>
            <img src="images/jindutiao.png" alt="">
            <div class="jindu-time">{{chicken_main.times}}</div>
        </div>
        <!-- 大chick -->
        <div :class="['chick',chick_cover?'active':'']" @click='clickChick' :id='chicken_main.name' v-if='!is_friend'>
            <template v-if='chicken_main.type'>
                <img :src="'images/chick_'+chicken_main.type+'/hungry.gif'" alt="" v-if='chicken_main.status==0'>
                <img :src="'images/chick_'+chicken_main.type+'/sleep.gif'" alt="" v-else-if='chicken_main.is_sleep'>
                <img :src="'images/chick_'+chicken_main.type+'/chick.gif'" alt="" v-else-if='chicken_main.status==1'>
                <img :src="'images/chick_'+chicken_main.type+'/eat.gif'" alt="" v-else>
            </template>
            <!-- 点击大鸡出来蒙版 -->
            <div class="chick-cover" @click.stop='coverChick'></div>
            <img src="images/btn/goPlay.png" class="chick-cover-item chick-cover-item1 justify-center" @click='goPlay'>
            <img src="images/btn/eatFeed.png" class="chick-cover-item chick-cover-item2 justify-center" @click='feed(chicken_main.name)' v-if='chicken_main.status==0'>
        </div>
        <!-- 鸡蛋 -->
        <div class="egg" :style="{animation: resources.Waiting_egg?'':'none'}" @click='resources.Waiting_egg?collectEgg():""'>
            <img :src="resources.Waiting_egg?'images/45.png':'images/46.png'" alt="">
            <div class="egg-number" v-if='resources.Waiting_egg'>{{resources.Waiting_egg}}</div>
        </div>
        <!-- 拾取鸡蛋动画 -->
        <div class="egg-collect-view" v-if='resources.Waiting_egg'>
            <div class="egg-collect egg-collect1">
                <img src="images/egg.png" class="egg-collect-img">
            </div>
            <div class="egg-collect egg-collect2">
                <img src="images/egg.png" class="egg-collect-img">
            </div>
            <div class="egg-collect egg-collect3">
                <img src="images/egg.png" class="egg-collect-img">
            </div>
        </div>
        <!-- 三只小 chick -->
        <div class="chook">
            <img :src="'images/chick_'+item.type+'/'+(item.is_sleep?'sleep_1':'small')+'.gif'" alt="" class="chook-1" :style="{position:'fixed',top:(item.y+55)+'%',left:item.x+'%',zoom:item.y/10+1,animationDelay: (-item.x-item.y)+'s', zIndex: parseInt(item.y*100), animationName: item.is_sleep?'':'chookMove'}" v-for='(item,index) of chick_list' v-if='index!=chicken_main_index' @click='is_friend?"":changeChick(index)'>
        </div>
        <!-- 蜜蜂采蜜 -->
        <div class="bee-box">
            <div class="soil two"></div>
            <div class="soil"></div>
            <div class="flowerpot">
                <div class="flowerpot-top"></div>
                <div class="flowerpot-bottom"></div>
            </div>
            <div class="flower">
                <div class="flower-top">
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div class="flower-head"></div>
            </div>
            <div class="bee">
                <div class="bee-body"></div>
            </div>
            <div class="bee bee-2">
                <div class="bee-body"></div>
            </div>
            <div class="triangle-box two">
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
            </div>
        </div>
        <!-- 小狗 -->
        <div :class="['dog',is_friend?'main_dog':'']" v-if='dog.dog_id'>
            <img :src="'images/dog/run_'+dog.dog_level+'.gif'" alt="">
        </div>
        <!-- 宠粮 -->
        <div class="food">
            <!-- 正在进食 -->
            <!-- <img src="images/5.gif" alt="" v-if='chicken_main.status==1'> -->
            <!-- 有食物 -->
            <img src="images/feed_1.png" alt="" v-if='resources.feed>0'>
            <!-- 无食物 -->
            <img src="images/feed_0.png" alt="" v-else>
            <!-- 饲料数量 -->
            <div class="feed-number justify-center" v-if='resources.feed>0'>{{resources.feed}}</div>
        </div>
        <!-- 主页按钮 -->
        <div class="lf">
            <div class="ppx" id="header">
                <div class="ppx">
                    <div class="content" onclick="closeWin()" :style='{color:theme==3||theme==4?"#8dbace":"#daf4ff"}'><i class="iconfont icon-back"></i><b>BLOCK CHICKEN</b></div>
                    <div class="content-container flexible-between" style="width: 100%;" v-if='!is_friend'>
                        <div class="content-item">
                            <div class="content-1">
                                <img class="" :src="account.balance_images" alt="" style="border-radius:0.35rem;width: 0.7rem;height: 0.7rem;">
                                <span style="position: absolute;right: 0.2rem;top: 0;line-height: 0.7rem;color: #fff">{{account.balance * 1}}</span>
                            </div>
                            <!-- <img class="" src="img/index4.png" alt=""> -->
                            <div class="content-text"><b>MY EGGS</b></div>
                        </div>
                        <div class="content-item flex-column" id='content-3' style="align-items: flex-end;">
                            <img class="content-icon" src="img/index5.png" alt="">
                            <div class="content-text"><b>NORICE</b></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ais justify-center" v-if='is_friend'>
                <div class="foot flex-column justify-center" @click="stealEgg()">
                    <img src="img/index9.png" alt="">
                    <b>Steal eggs</b>
                </div>
            </div>
            <div class="ais justify-center" v-else>
                <div class="foot flex-column justify-center" id='foot-1'>
                    <img src="img/index6.png" alt="">
                    <b>FRIEND</b>
                </div>
                <div class="foot flex-column justify-center" id='foot-2'>
                    <img src="img/index7.png" alt="">
                    <b>MALL</b>
                </div>
                <div class="foot flex-column justify-center" id='foot-3' @click='GetEggsRecord(0)'>
                    <img src="img/index8.png" alt="">
                    <b>RECORD</b>
                </div>
                <div class="foot flex-column justify-center" id='foot-4' @click='GetMyManor(0)'>
                    <img src="img/index10.png" alt="">
                    <b>MANOR</b>
                </div>
            </div>
        </div>

        <!-- ...蒙层... -->
        <div class="mc"></div>
        <div class="mc-1"></div>
         <!-- chick 商城 -->
        <div class="menu-1 flex-column">
            <div class="wrapper-a">
                <!-- <a href="javascript:window.history.back(-1)" target="_self">
                    <img src="images/1.jpg" alt="" class="zjt">
                </a> -->

                <div>CHI CKEN &nbsp;&nbsp;&nbsp;MALL</div>
                <img src="img/dj1.png" alt="" class="yjt">
            </div>
            <div class="wrapper-1 col-1">
                <ul class="poult-a" v-if='chick_shop_list.length>0'>
                    <li class="flex-column justify-center" @click="buyAnimal(item.animal_id,item.animal_id)" v-for='(item,index) in chick_shop_list'>
                        <div class="poult-a1">{{index+1}}</div>
                        <img class="poult" :src="'images/chick_'+item.animal_id+'/chick.png'" alt="">
                        <div class="astq purchase">
                            <span class="purchase-1">{{item.animal_price||0}} VCW</span>
                            <span class="purchase-2">BUY</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 好友列表 -->
        <div class="menu-2 flex-column">
            <img class="trough" src="img/index6.png" alt="">
            <div class="wrapper-b">
                <div>MY friends</div>
                <img src="img/dj1.png" alt="">
            </div>
            <div class="slide-v col-1" id='friends-list'>
                <ul class="poult-b" v-if='friends_list.length>0' style="overflow-y: scroll">
                    <li v-for='(item,index) in friends_list' @click="gotofriend(item.friends_token)">
                        <span class="ssz">{{index+1}}</span>
                        <img class="ssz1" src="img/index6.png" alt="">
                        <span class="ssz2">{{item.nickname}}</span>
                        <!--<img class="ssz3" src="img/jiu1.png" alt="">-->
                        <img v-if="item.dog_level>0" class="ssz4" :src="'img/xg-'+item.dog_level+'.png'" alt="">
                        <!--<img class="ssz5" src="img/jiu-1.png" alt="">-->
                        <!--<div class="ssz6">1</div>-->
                    </li>
                </ul>
            </div>
        </div>
        <!-- Dog 商城 -->
        <div class="menu-3 flex-column">
            <div class="wrapper-a">
                <div>DOG &nbsp;&nbsp;&nbsp;MALL</div>
                <img src="img/dj1.png" alt="" class="yjt">
            </div>
            <div class="wrapper-1 col-1">
                <ul class="poult-a" v-if='dog_shop_list.length>0'>
                    <li class="flex-column justify-center" @click="buydog(item.dog_id,item.dog_level)" v-for='(item,index) in dog_shop_list'>
                        <div class="poult-a1">{{index+1}}</div>
                        <img class="poult" :src="'images/dog/dog_'+item.dog_level+'.png'" alt="">
                        <div class="purchase">
                            <span class="purchase-1">{{item.dog_usdt||0}} USDT</span>
                            <span class="purchase-1">{{item.dog_vcw||0}} VCW</span>
                            <span class="purchase-2">BUY</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 宠粮 -->
        <div class="menu-4 flex-column">
            <div class="wrapper-a">
                <div>FEED</div>
                <img src="img/dj1.png" alt="" class="yjt">
            </div>
            <div class="wrapper-1 col-1">
                <ul class="poult-a">
                    <li class="flex-column justify-center" @click="buyFeed(item.num)" v-for='(item,index) in feed_shop_list'>
                        <div class="poult-a1">{{index+1}}</div>
                        <img class="poult" src="img/ls-a.png" alt="">
                        <div class="purchase">
                            <span class="purchase-1 one_line">{{item.price}}</span>
                            <span class="purchase-2">BUY</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 商店 -->
        <div class="menu-5 flex-column">
            <span class="menu-a"> <a href=""><img class="menu" src="images/22.png" alt=""></a></span>

            <div class="wrapper-tl">
                <div>Mall</div>
            </div>
            <div class="cha"> <img src="img/dj1.png" alt=""></div>
            <div class="wrapper col-1">
                <ul>
                    <li class="chic wrapper-p">
                        <div class="chicken chicken-on justify-center">
                            <div class="bj justify-center">
                                <img src="images/24.png" style="margin-right: .1rem;" alt="">
                            </div>
                            <div class="chicken-itd col-1">
                                <p>chicken</p>
                                <span>The mall offers chickens of various for you to choose from. </span>
                            </div>
                            <div class="pur pur-one xj-a">
                                <span>PURCHASE</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="chicken chicken-two justify-center">
                            <div class="bj bj-1 justify-center">
                                <img src="images/25.png" alt="">
                            </div>
                            <div class="chicken-itd col-1">
                                <p>dog</p>
                                <span>The mall offers dogs of various grades for you to choose from.</span>
                            </div>
                            <div class="pur pur-two xg-b">
                                <span>PURCHASE</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="chicken chicken-thr justify-center sss">
                            <div class="bj bj-2 justify-center">
                                <img src="images/27.png" alt="">
                            </div>
                            <div class="chicken-itd col-1">
                                <p>feed</p>
                                <span>The mall offers feeds of various for you to choose from. </span>
                            </div>
                            <div class="pur pur-thr ls-c">
                                <span>PURCHASE</span>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <!-- 收蛋记录 -->
        <div class="menu-6 flex-column">
            <img class="trough" src="img/index11.png" alt="">
            <div class="wrapper-b">
                <div>Eggs Record</div>
                <img src="img/dj1.png" alt="">
            </div>
            <div class="wrapper-1 col-1 flex-column">
                <div class="menu-nav flexible">
                    <div :class="['menu-nav-item','col-1','justify-center',eggs_record_index==0?'active':'']" @click='GetEggsRecord(0)'><span class="justify-center">collection</span></div>
                    <div :class="['menu-nav-item','col-1','justify-center',eggs_record_index==1?'active':'']" @click='GetEggsRecord(1)'><span class="justify-center">stealing</span></div>
                </div>
                <div class="menu-egg-list col-1" id="egg-list">
                    <div class="flex-column" id="scroller">
            <!-- <div id="pullDown">
                <span class="pullDownIcon"></span>
                <span class="pullDownLabel">Pull to refresh...</span>
            </div> -->
                        <div class="menu-egg-item flexible" v-for="(item,index) in eggs_record">
                            <div :class="['menu-egg-dot',index==0?'':'dot-hidden']"></div>
                            <div class="menu-egg-line"></div>
                            <div class="menu-egg-content col-1">
                                <div class="menu-egg-time flexible">
                                    <span>{{item.status_name}}</span>
                                    {{item.expired_time}}
                                </div>
                                <div class="menu-egg-text">{{item.status_dec}}</div>
                            </div>
                            <div class="menu-egg-more justify-center">
                                <!-- <img src="images/egg.png"> -->
                                <div class="menu-egg-more-number justify-center">{{item.amount||0}}</div>
                            </div>
                        </div>
            <!-- <div id="pullUp">
                <span class="pullUpIcon"></span>
                <span class="pullUpLabel">Pull up to load more...</span>
            </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- 我的农场 -->
        <div class="menu-7 flex-column">
            <img class="trough" src="img/index10.png" alt="">
            <div class="wrapper-b">
                <div>My Manor</div>
                <img src="img/dj1.png" alt="">
            </div>
            <div class="wrapper-1 col-1 flex-column">
                <div class="menu-nav flexible">
                    <div :class="['menu-nav-item','col-1','justify-center',my_manor_index==0?'active':'']" @click='GetMyManor(0)'>
                        <span class="justify-center"><img src="images/24.png"></span>
                    </div>
                    <div :class="['menu-nav-item','col-1','justify-center',my_manor_index==1?'active':'']" @click='GetMyManor(1)'>
                        <span class="justify-center"><img src="images/25.png"></span>
                    </div>
                    <div :class="['menu-nav-item','col-1','justify-center',my_manor_index==2?'active':'']" @click='GetMyManor(2)'>
                        <span class="justify-center"><img src="images/26.png"></span>
                    </div>
                </div>
                <!-- 我的农场-鸡 -->
                <div class="menu-manor-list col-1" v-show='my_manor_index==0' id='manor-list'>
                    <div>
                        <div class="menu-manor-item justify-center" v-for='(item,index) in chick_list'>
                            <img :src="'images/chick_'+item.type+'/chick.png'" class="menu-manor-chick">
                            <img src="images/egg.png" class="menu-manor-egg">
                            <div class="menu-manor-progress">
                                <span class="justify-center">{{parseInt(item.time/864)}}%</span>

                                <div class="menu-manor-progress-content" :style="{width: parseInt(item.time/864)+'%'}">
                                    <span class="justify-center">{{parseInt(item.time/864)}}%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 我的农场-狗 -->
                <div class="justify-center col-1" v-show='my_manor_index==1'>
                    <img class="menu-manor-img" :src="'images/dog/dog_'+dog.dog_level+'.png'" v-if='dog.dog_id'>
                </div>
                <!-- 我的农场-饲料 -->
                <div class="justify-center col-1" v-show='my_manor_index==2'>
                    <img class="menu-manor-img" src="images/27.png">
                </div>
            </div>
        </div>
    </div>

    <!-- ***************商品弹窗*************** -->
    <!-- 购买chick成功弹窗 -->
    <div class="popup-a">
        <img class="txj-a" src="img/xj-1.png" alt="">
        <img class="txj-b" src="img/hua-a.png" alt="">
        <img class="txj-c" src="img/hua-b.png" alt="">
        <div class="txj-d">Purchase success</div>
    </div>
    <div class="popup-b">
        <img class="txj-1" src="img/xj-2.png" alt="">
        <img class="txj-b" src="img/hua-a.png" alt="">
        <img class="txj-c" src="img/hua-b.png" alt="">
        <div class="txj-d">Purchase success</div>
    </div>
    <div class="popup-c">
        <img class="txj-2" src="img/xj-3.png" alt="">
        <img class="txj-b" src="img/hua-a.png" alt="">
        <img class="txj-c" src="img/hua-b.png" alt="">
        <div class="txj-d">Purchase success</div>
    </div>
    <!-- 购买dog成功弹窗 -->
    <div class="popup-d">
        <img class="txj-3" src="img/xg-1.png" alt="">
        <img class="txj-b" src="img/hua-a.png" alt="">
        <img class="txj-c" src="img/hua-b.png" alt="">
        <div class="txj-d">Purchase success</div>
    </div>
    <div class="popup-e">
        <img class="txj-4" src="img/xg-2.png" alt="">
        <img class="txj-b" src="img/hua-a.png" alt="">
        <img class="txj-c" src="img/hua-b.png" alt="">
        <div class="txj-d">Purchase success</div>
    </div>
    <div class="popup-f">
        <img class="txj-5" src="img/xg-3.png" alt="">
        <img class="txj-b" src="img/hua-a.png" alt="">
        <img class="txj-c" src="img/hua-b.png" alt="">
        <div class="txj-d">Purchase success</div>
    </div>

    <!-- 购买food成功弹窗 -->
    <div class="popup-g">
        <img class="txj-6" src="img/ls-a.png" alt="">
        <img class="txj-b" src="img/hua-a.png" alt="">
        <img class="txj-c" src="img/hua-b.png" alt="">
        <div class="txj-d">Purchase success</div>
    </div>
    <!-- 公告 -->
    <div class="offiche of">

        <div class="off">
            <div>NORICE </div>
            <img src="img/dj1.png" alt="" class="">
        </div>
        <div class="offiche-1" v-html='announcement.content' v-if='announcement.content'>
            <!-- <div class="yingyu">
                <h5>Notice:</h5>
                <p>1 .Due to the large number of global feedback and the limited number of places, many excellent
                    leaders did not register in time. Now we close the registration window and delete the changes
                    of the applicants after verification and screening, and wait for further notice.</p>
                <p>2 .Customer service in all countries of the world works according to local time, ranging from
                    10:00 to 18.00.</p>
                <p>3 .The network may be unstable in the last week. The Technology Department is docking with the
                    smart dog. </p>
            </div>
            <div class="offiche-2">
                <h5>通知：</h5>
                <p>1 .由于全球反馈人数太多,名额有限,导致很多优秀的领导人没有及时报名.现关闭报名窗口并对报名人员经行核实筛选后进行更改剔除，具体事宜等待另行通知。</p>
                <p>2 .全球各国客服按当地时间工作，时间为10:00-18.00。</p>
                <p>3 .最近一周内网络可能会出现不稳定，技术部正在对接智能狗事宜。</p>
            </div>
            <span>VCW运营</span>
            <div class="offiche-3">
                <h5>通知：</h5>
                <p>1 .全世界のフィードバック人数が多すぎて、名額が限られているため、多くの優秀な指導者が応募していないことを招いています。</p>
                <p>2 .世界各国の客服は現地時間で働いています。時間は10 : 00- 18です。</p>
                <p>3 .最近1週間以内にネットワークが不安定になるかもしれませんが、技術部はスマートな犬に接しています。</p>
            </div>
            <span>VCW运营</span> -->
        </div>
    </div>
    <!-- 遮盖动画的云 -->
    <div class="cloud-cover">
        <img :src="'images/theme_'+theme+'/cloud/cloud_1.png'" class="cloud-img1">
        <img :src="'images/theme_'+theme+'/cloud/cloud_2.png'" class="cloud-img2">
    </div>
    <!-- loading动画 -->
    <div class="loading-cover justify-center" v-show='resources.id'>
        <div class="loading-view">
            <i class="iconfont icon-loading"></i>
        </div>
    </div>

</div>
<!-- loading动画 -->
<!-- <div class="main-loading-cover justify-center">
    <img src="images/loading.gif">
</div> -->
</body>
<script src="js/iscroll.js"></script>
<script src="js/jquery.min.js"></script>
<!-- <script src="js/bootstrap.js"></script> -->
<script src="js/base.js"></script>
<script src="js/api.js"></script>
<script src="../../script/api.js"></script>
<script src="js/vue.min.js"></script>
<script type="text/javascript">
var app = new Vue({
    el: "#app",
    click: true,
    data: {
        resources: {
            // Waiting_egg:9,
        }, // 用户信息
        friends_list: [], // 用户好友列表
        announcement: {}, // 公告
        chicken_main: {times:''}, // 主要的小鸡
        chick_cover: false, // 鸡的蒙版
        chicken_main_index: -1, // 当前主要的小鸡处于list中的第几个
        chick_list: [], // 次要的小鸡
        dog: {}, // 用户的狗
        dog_shop_list: [], // 商店里狗的列表
        chick_shop_list: [], // 商店里鸡的列表
        feed_shop_list: [], // 商店里饲料的列表
        theme: 3, // 场景（白天黑夜）
        start_list: [], // 夜晚的星星
        snow_list: [], // 雪花
        rain_list: [], // 雨滴
        eggScroll: '', // egg列表的iscroll实例
        eggScroll_first_load: true, // 第一次加载egg列表，iscroll
        eggs_record: [],
        eggs_record_page: 1, // 收取鸡蛋记录页数
        eggs_record_index: '',
        manorScroll: '', // manor列表的iscroll实例
        manorScroll_first_load: true, // 第一次加载manor列表，iscroll
        my_manor_index: 0,
        is_friend: false, // 当前是index页面还是friend页面
        account:{
            "balance_id": "",
            "balance_name": "",
            "balance_images": "",
            "is_withdraw": "0",
            "is_deposit": "",
            "withdraw_fee": "0.00",
            "is_into": "0",
            "is_transfer": "0",
            "is_roll": "0",
            "ratio": "",
            "balance": "",
            "frozen": ""
        }
    },
    watch: {
        friends_list: function(){
            this.$nextTick(function(){
                $('iScrollVerticalScrollbar,.iScrollLoneScrollbar').remove()
                new iScroll('friends-list',{
                  // 开启滚轮控制功能
                    click: true,
                  mouseWheel: true,
                  scrollbars: true,
                  preventDefault: true,
                });
            })
        },
        eggs_record: function(){
            var that = this
            this.$nextTick(function(){
                if (that.eggScroll_first_load) {
                    that.eggScroll_first_load = false
                    // var pullDownEl = document.getElementById('pullDown'),
                    //     pullDownOffset = pullDownEl.offsetHeight,
                    //     pullUpEl = document.getElementById('pullUp'),
                    //     pullUpOffset = pullUpEl.offsetHeight;

                    that.eggScroll = new iScroll('egg-list',{
                        useTransition: true,
                        // topOffset: pullDownOffset,
                        // pullDownEl: pullDownEl,
                        // pullDownAction: function(){
                        //     that.eggScroll&&that.eggScroll.refresh(); // 刷新iScroll的滚动条
                        //     console.log('下拉刷新')
                        //     that.eggs_record = []
                        //     that.eggs_record_page = 1
                        //     that.GetEggsRecord()
                        // },
                        // pullUpEl: pullUpEl,
                        // pullUpAction: function(){
                        //     console.log('上拉加载')
                        //     that.eggs_record_page++
                        //     that.GetEggsRecord()
                        // },
                    });
                } else {
                    that.eggScroll && that.eggScroll.refresh()
                }
            })
        },
        chick_list: function(){
            var that = this
            this.$nextTick(function(){
                if (that.manorScroll_first_load) {
                    that.manorScroll_first_load = false

                    // 因为有两个chick_list的渲染列表，所以用了setTimeout放到最后执行
                    setTimeout(function(){
                        that.manorScroll = new iScroll('manor-list',{
                            useTransition: true,
                        });
                    },0)
                } else {
                    that.manorScroll && that.manorScroll.refresh()
                }
            })
        }
    },
    methods: {
        /************************** index页面 *********************************/
        // 请求用户信息
        GetUser: function(){
            var that = this
            GetApi('User/info',{},function(data){
                that.resources = data;
                 if(Is_null(data.account)){
                    for (var i = 0,len = data.account.length; i < len; i++) {
                        if(data.account[i].balance_id==3){
                            that.account = data.account[i];
                        }
                    }
                }
                if(Is_null(data.dog)){
                    that.dog = data.dog
                }
                if(Is_null(data.animal)){
                    if (data.theme==2) { data.big_egg.is_sleep = Math.random()*10<5 }

                    for (var i = 0,len = data.animal.length; i < len; i++) {
                        data.animal[i].x = Math.random()*100;
                        data.animal[i].y = Math.random()*10;
                        if (data.theme==2) {
                            data.animal[i].is_sleep = Math.random()*10<7
                        }
                    }
                    that.chick_list = data.animal
                    that.chicken_main = data.big_egg || data.animal[0];
                }
                that.theme = data.theme||1
                that.chicken_main_index = 0
                that.setTheme()
            })
        },
        // 设置场景元素（星星，雪花，雨滴）
        setTheme: function(){
            if (this.theme==2) { // 夜晚（星星）
                var start_list = []
                for (var i = 0; i < 20; i++) {
                    start_list.push({
                        x: Math.random()*100,
                        y: Math.random()*60,
                        opacity: Math.random(),
                    })
                }
                this.start_list = start_list
            }
            if (this.theme==3) { // 雪花（下雪）
                var snow_list = []
                for (var i = 0; i < 200; i++) {
                    snow_list.push({
                        x: Math.random()*160,
                        y: Math.random()*10,
                    })
                }
                this.snow_list = snow_list
            }
            if (this.theme==5) { // 雨滴（下雨）
                var rain_list = []
                for (var i = 0; i < 100; i++) {
                    rain_list.push({
                        x: Math.random()*160,
                        y: Math.random()*5,
                        opacity: Math.random(),
                    })
                }
                this.rain_list = rain_list
            }
        },
        // 请求公告
        GetAnnouncement: function(){
            var that = this
            GetApi('Farms/announcement',{},function(data){
                that.announcement = data
            })
        },
        // 请求用户好友列表
        GetUserFriends: function(){
            var that = this
            GetApi('user/friends',{},function(data){
                that.friends_list = data
            })
        },
        // 请求鸡的商城
        GetShopChickList: function(){
            var that = this
            GetApi('Farms/getchicklist',{},function(data){
                that.chick_shop_list = data
            })
        },
        // 请求狗的商城
        GetShopDogList: function(){
            var that = this
            GetApi('Farms/getdoglist',{},function(data){
                that.dog_shop_list = data
            })
        },
        // 请求饲料的商城
        GetShopFeedList: function(){
            var that = this
            GetApi('Farms/feed',{},function(data){
                that.feed_shop_list = data
            })
        },
        // 请求蛋记录的列表的接口
        GetEggsRecord: function(index){
            var that = this

            if (this.eggs_record_index === index){ return false; }
            else if (index==undefined) {}
            else { 
                this.eggs_record_index = index; 
                this.eggs_record = []; 
                this.eggs_record_page = 1 
            }

            var page = this.eggs_record_page,
                index = this.eggs_record_index,
                url = index == 0 ? 'beltlinelog' : 'steallog',
                    list = this.eggs_record

            GetApi('User/'+url,{P:page},function(data){
                list = list.concat(data)
                that.eggs_record = list
            })
        },
        // 请求我的记录的列表的接口
        GetMyManor: function(index){
            var that = this
            this.my_manor_index = index
        },
        // 购买狗 id  1及  2及 3及
        buydog: function(dog_id,level) {
            var that = this
            if(!dog_id){
                Error('ncrease raise success, return chicken farm to view');
                return;
            }
            GetApi('Farms/BuyDog',{dog_id:dog_id},function(data){
                if(level == 1) {
                    $(".popup-d").show();
                } else if (level == 2){
                    $(".popup-e").show();
                } else if (level == 3){
                    $(".popup-f").show();
                }
                that.GetUser()
            })
        },
        // 购买饲料
        buyFeed: function(num){
            var that = this
            if(!num){
                Error('ncrease raise success, return chicken farm to view');
                return;
            }
            GetApi('Farms/buyFeed',{num:num},function(data){
                that.GetUser();
                $(".popup-g").show();
            })
        },
        // 购买鸡 id  1及  2及 3及
        buyAnimal: function(chick_id,level) {
            var that = this
            if(!chick_id){
                Error('ncrease raise success, return chicken farm to view');
                return;
            }
            GetApi('Farms/buyAnimal',{type:chick_id},function(data){
                if(level == 1) {
                    $(".popup-a").show();
                } else if (level == 2){
                    $(".popup-b").show();
                } else if (level == 3){
                    $(".popup-c").show();
                }
                that.GetUser()
            })
        },
        // 收蛋
        collectEgg:function(){
            var that = this
            GetApi('user/pickupEggAll',{},function(data){
                $('.egg-collect-view').addClass('active')
                setTimeout(function(){ $('.egg-collect-view').removeClass('active') },2000)
                that.GetUser()
                GetToast('You picked up all the eggs');
            })
        },
        gotofriend:function(friends_token){
            var that = this
            // $('.cloud-cover').removeClass('active')
            // setTimeout(function(){
            //     $('.cloud-cover').addClass('active')
            // },1000)
            // GetApp('好友',url)
            $api.setStorage('friends_token',friends_token);
            GetApp('friend','farm/index.html','friend',{friends_token:friends_token})
            //window.location.href = 'friend.html?token=878c97800e20cdba40e58e124ee8c563'
        },
        // 切换大鸡
        changeChick:function(index){
            var that = this 
            cloudShow(function(){
                that.chicken_main_index = index
                that.chicken_main = that.chick_list[index]
                $('.cloud-cover').removeClass('active')
            })
        },
        clickChick: function(){
            this.chick_cover = true
        },
        coverChick: function(){
            this.chick_cover = false
        },
        // 小鸡喂食
        feed: function(name){
            var that = this
            GetApi('User/feed',{animalOn:name},function(data){
                cloudShow(function(){
                    that.GetUser()
                    that.chick_cover = false
                    $('.cloud-cover').removeClass('active');
                })
            })
        },
        goPlay: function(){
            var that = this
            cloudShow(function(){
                that.chicken_main_index = -1
                that.chicken_main = {times:''}
                that.chick_cover = false
                $('.cloud-cover').removeClass('active')
            })
        },
        /************************** friend页面 *********************************/
        // 请求用户信息
        GetFriendsInfo: function(){
            this.is_friend = true

            var that = this
            GetApi('Friends/info',{},function(data){
                that.resources = data;
                if(Is_null(data.account)){
                    for (var i = 0,len = data.account.length; i < len; i++) {
                        if(data.account[i].balance_id==3){
                            that.account = data.account[i];
                        }
                    }
                }
                if(Is_null(data.dog)){
                    that.dog = data.dog
                }
                if(Is_null(data.animal)){
                    if (data.theme==2) { data.big_egg.is_sleep = Math.random()*10<5 }

                    for (var i = 0,len = data.animal.length; i < len; i++) {
                        data.animal[i].x = Math.random()*100;
                        data.animal[i].y = Math.random()*10;
                        if (data.theme==2) {
                            data.animal[i].is_sleep = Math.random()*10<7
                        }
                    }
                    that.chick_list = data.animal
                }
                that.theme = data.theme||1
                that.setTheme()
            })
        },
        // 偷蛋
        stealEgg: function(){
            var that = this

            cloudShow(function(){
                GetApi('Friends/steal',{},function(data){
                    $(".popup-h .txj-d").html('Congratulations on getting '+data.steal_egg+' eggs')
                    $(".popup-h").show();
                    
                    that.GetFriendsInfo()
                    $('.cloud-cover').removeClass('active');
                },function(){
                    $('.cloud-cover').removeClass('active')
                })
            })
        },
    },
    mounted(){
        this.setTheme()
    }
});
function _init() {
    app.GetUser();
}
function _Finit() {
    app.GetFriendsInfo();
}
_init()
apiready = function (data) {
    $api.fixStatusBar($api.dom('#header'));
    if (data.friends_token) {
        var _int = _Finit;
    } else {
        var _int = _init;
    }
    _int();

    api.addEventListener({
        name:'viewappear'
    }, function(ret, err){
        _int()
    });
    setTimeout(function () {
        $('.main-loading-cover').hide();
    },2000)
}
</script>
<script src="js/index.js"></script>
</html>